* {
  margin: 0px;
  padding: 0px;
}
.grid-1{
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  position: relative;
  width: auto;
  }
.text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: antiquewhite;
  animation: text 3s infinite;
  width: 100%;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.text :hover{
  background: rgb(45, 22, 173);
}
@keyframes text {
  0%{
    color: rgb(255, 255, 154);
   
  }
  35%{
    letter-spacing: 25px;
    
  }
  85%{
     letter-spacing: 8px;
    
  }
  100%{
     letter-spacing: 6px;
    
  }
}
.buttom{
   background-color: rgb(48, 46, 122);
   background-position: center;
   color: blanchedalmond;
   padding: 7px 10px;
   margin-bottom: 50px;
   border: dotted;
   widows: 2px;
   text-align: center;
   position: absolute;
   top: 70%;
   left: 90%;
   border-radius: 0.6em;
   transform: translate(-50%, -50%);
   transition-property: transform; 
   transition-duration: 1s;
   
  }
.buttom:hover {
  background-color: rgb(153, 31, 31);
  transform: rotateY(180deg);
}


.feature-img {
  width: 100%;
  height: auto;
  background-size: cover;
  opacity: 1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
}

footer {
  width: 100%;
  padding: 64px 0px 24px 0px;
  text-align: center;
  clear: both;
}









/*project2-page2*/

body{
  background-color: black;
}

.city-container{
  position: absolute;
  overflow-y: hidden;
  height: 1080px;
}

.city-bg{
  width: 100%;
  z-index: 0;
  position: absolute;
}
.video1 {
  top: 350px;
  left: 300px;
  width: 170px;
  height: 230px;
  z-index: 1;
  border-radius: 10em;
  position: absolute;
  transform: skewX(170deg);
  
 }

 .video1:hover{
   width: 400px;
   height: 540px;
   right: 500px;
   top: 100px;

 }

iframe {
  opacity: 0.9;
  border-radius: 0.5em;
  border-color: darkkhaki;
}

.ink1 {
  left: 80px;
  top: 600px;
  width: 400px;
  height: 140px;
  z-index: 1;
  border-radius: 0.3em;

  position: absolute;

  animation: ink1 2s infinite ease-in-out;
}

.ink2 {
  left:650px;
  bottom: 320px;
  width: 110px;
  height: 170px;
  z-index: 1;
  position: absolute;
  border-radius: 0.3em;
  animation: ink2 2s infinite ease-in-out;
 
}

.ink3 {
  right:20px;
  top: 500px;
  width: 400px;
  height: 140px;
  z-index: 1;
  position: absolute;
  border-radius: 0.3em;
  animation: ink3 2s infinite ease-in-out;

}

.ink4 {
  right: 210px;
  top: 320px;
  width: 160px;
  height: 100px;
  z-index: 1;
  transition: 3s ease-in-out;
  position: absolute;
  border-radius: 0.3em;
  animation: ink4 2s infinite ease-in-out;
  
 
}

.bgink1{
  width: 60%;
  cursor: pointer;
  position: absolute;
  top: 1100px;
  left: 300px;
  z-index: 0;
  border-radius: 0.8em;
}
.bgink1:hover {
  left: 20px;
  bottom: -10px;
}




.buttom2{
  background-color: rgb(22, 66, 70);
  background-position: center;
  color: blanchedalmond;
  padding: 7px 10px;
  margin-bottom: 100px;
  border: dotted;
  widows: 10px;
  text-align: center;
  position: absolute;
  top: 1800px;
  left: 50%;
  border-radius: 0.6em;
  transform: translate(-50%, -50%);
  transition-property: transform; 
  transition-duration: 1s;
  
 }

.buttom2:hover {
 background-color: rgb(153, 31, 31);
 transform: rotateY(180deg);
}

.paragraph{
  display: flex;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 10px;
  padding: 30px;
  width: 600px;
  height: 250px;
  right: 70px;
  top: 1400px;
  text-align: justify;
  background-color: black;
  float: center;
  color: white;
  border-style: double;
  border-radius: 0.7em;
  z-index: 1;
}



@keyframes video1 {
  
}

@keyframes ink1 {
  0% {
    transform: translate(0px, 2px);
    transform; rotate z-index:(10deg);
  }

  50% {
    transform: translate(10px, 8px);
    transform; rotate z-index:(10deg);
  }

  100% {
    transform: translate(0px, 2px);
    transform; rotate z-index:(10deg);
  }
}

@-moz-keyframes ink2 {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(20px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
@-o-keyframes ink2 {
  0% {
    opacity: 0.2;
    transform: translate(0px, -50px);
  }

  50% {
    opacity: 1;
    transform: translate(0px, 50px);
  }

  100% {
    opacity: 0.5;
    transform: translate(0px, -50px);
  }
}

@-webkit-keyframes ink2 {
  0% {
    transform: translate(0px, 2px);
  }

  50% {
    transform: translate(8px, 8px);
  }

  100% {
    transform: translate(0px, 2px);
  }
}

@keyframes ink2 {
  0% {
    transform: translate(0px, 2px);
  }

  50% {
    transform: translate(0px, 10px);
  }

  100% {
    transform: translate(0px, 2px);
  }
}

@keyframes ink3 {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(20px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ink4 {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(30px, 2px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
 .footer2 {
  width: 100%;
  position: absolute;
  clear: both;
  top: 600px;

  color: aliceblue;
}




/*project1-page3 */

.project1-body{
  color: rgb(69, 41, 95)5, 168);
  background-color: purple;
}
.h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.project1-container {
  position: absolute;
  overflow-y: hidden;
}
iframe {
  opacity: 0.9;
  border-radius: 78%;
}

.video2 {
  width: 600px;
  height: 525px;
  animation: video 5s infinite ease-in-out;
}
.video3 {
  width: 400px;
  height: 300px;
  animation: video 5s infinite ease-in-out;
}
.video4 {
  width: 200px;
  height: 200px;
  animation: video 5s infinite ease-in-out;
}
.video5 {
  width: 100px;
  height: 83px;
  animation: video 5s infinite ease-in-out;
}
.video6 {
  width: 80px;
  height: 70px;
  animation: video 5s infinite ease-in-out;
}
.video7 {
  width: 80px;
  height: 70px;
  animation: video 5s infinite ease-in-out;
}
.video8 {
  width: 40px;
  height: 30px;
  animation: video 5s infinite ease-in-out;
}

@keyframes video {
  0% {
    transform: translate(200px, 0px);
    transform: rotate(90deg);
    transform: scaleZ(2);
  }
  25% {
    transform: translate(400px, 400px);
    transform: rotate(360deg);
    transform: scaleZ(0.5);
  }
  50% {
    transform: translate(-400px, 400px);
    transform: rotate(270deg);
  }
  75% {
    transform: translate(-400px, -400px);
    transform: rotate(360deg);
    transform: scaleZ(170deg);
  }

  100% {
    transform: translate(200px, 0px);
    transform: rotate(0deg);
    transform: scaleZ(360deg);
  }
}




.buttom4{
  background-color: rgb(245, 247, 173);
  background-position: center;
  color: rgb(0, 0, 0);
  padding: 7px 10px;
  margin-bottom: 100px;
  border: dotted;
  widows: 10px;
  text-align: center;
  position: absolute;
  top: 800px;
  left: 50%;
  border-radius: 0.6em;
  transform: translate(-50%, -50%);
  transition-property: transform; 
  transition-duration: 1s;
  
 }

.buttom4:hover {
 background-color: rgb(153, 31, 31);
 transform: rotateY(180deg);
}

.footer3 {
  width: 100%;
  position: absolute;
  clear: both;
  bottom: 200px;
  color: rgb(3, 9, 15);
}